Source: go-dlib
Section: devel
Priority: extra
Maintainer: Yueqian Zhang <zhangyueqian@linuxdeepin.com>
Build-Depends: debhelper (>= 9), dh-golang, golang-go,
               golang-xgb-dev, golang-fsnotify-dev,
               golang-gocheck-dev,
               golang-goconvey-dev,
               libpulse-dev,
               libgtk-3-dev,
               iso-codes,
               mobile-broadband-provider-info
Standards-Version: 3.9.5
Homepage: http://www.linuxdeepin.com

Package: golang-dlib-dev
Architecture: all
Depends: ${misc:Depends}, golang-xgb-dev, golang-fsnotify-dev,
         libpulse-dev, libgtk-3-dev
Built-Using: ${misc:Built-Using}
Provides: go-dlib
Description: Go bindings for Deepin Desktop Environment development
 DLib is a set of Go bindings/libraries for DDE development.
 Containing dbus (forking from guelfey), glib, gdkpixbuf, pulse and more.
