[Desktop Entry]
Version=1.0
Name=Executable
Name[zh_CN]=可执行
Exec=/bin/false
Terminal=false
Type=Application
Icon=firefox
Categories=GNOME;GTK;Network;WebBrowser;
StartupNotify=true
